@font-face {
  font-family: Futura;
  src: url("./Futura-Medium.woff");
}

body {
  font-family: Futura;
  margin:0px;
  padding:0px;
  background-color: black;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hu {
  font-size: 400px;
  color:white;
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
